/* body.css */
/*Generalizo la estetica de la web*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Anton SC', sans-serif;
  /* Otros estilos */
}

body.light-mode {
  background-color: var(--bg-color);
  color: var(--text-color);
}

body.dark-mode {
  background-color: var(--bg-color-dark);
  color: var(--text-color-dark);
}

