.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  text-align: center;
  font-weight: 100;
  font-style: italic;
  font-size: 1rem;
  font-family: 'Rubik', sans-serif;
  }
  
  /*.footer h2 {
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
  }
  
  .footer p {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
  } */

