/* Estilos generales */
main {
  padding: 20px;
  max-width: 100%;
  margin: 0 auto;
}

/* Estilos para la sección hero */
.hero {
  position: relative;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 60px; /* Ajusta este valor según la altura de tu header */
}

.hero h1, .hero p {
  position: relative;
  z-index: 2;
  background-color: transparent; /* Fondo de la imagen */
  color: var(--text-color);
  padding: 10px;
  margin: 0 auto 10px;
  max-width: 80%;
}

.hero h1 {
  font-size: 2.5rem;
}

.hero h1 span {
  display: block;
  font-size: 1.8rem;
}

.hero p {
  font-size: 1.2rem;
}

.hero img {
  width: 100%;
  max-width: 800px;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* Media queries para responsividad */
@media screen and (min-width: 768px) {
  .hero h1 {
    font-size: 5rem;
  }

  .hero h1 span {
    font-size: 2.2rem;
  }

  .hero p {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 1024px) {
  main {
    padding: 40px;
  }

  .hero h1 {
    font-size: 7rem;
  }

  .hero h1 span {
    font-size: 2.5rem;
  }

  .hero p {
    font-size: 1.6rem;
  }

  .hero img {
    max-width: 1000px;
  }
}