/* header.css */

.body-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

#logo-link img {
  width: 100px; 
  height: auto;
  cursor: pointer;
}

.dark-mode {
  display: none;
}

#dark-mode-toggle:checked + #logo-link .light-mode {
  display: none;
}

#dark-mode-toggle:checked + #logo-link .dark-mode {
  display: block;
}

/* Estilos para el body en modo dark */
#dark-mode-toggle:checked ~ body {
  background-color: #000 !important; 
  color: #fff !important; 
}
/* Estilos para el body en modo light */
#dark-mode-toggle:checked ~ body .ligh-mode {
  background-color: #fff !important; 
  color: #000 !important; 
}

/* Estilos para la navegación */
nav ul {
  list-style: none; 
  margin: 0;
  padding: 0;
  display: flex; 
}

nav li {
  margin-left: 20px; 
}

nav a {
  text-decoration: none; 
  color: inherit; 
  display: flex;
  align-items: center; 
}

nav a img {
  width: 20
}